EXPO_PUBLIC_SUPABASE_URL=https://oitpslanpunhdbtsjjeu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pdHBzbGFucHVuaGRidHNqamV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NDIwNzksImV4cCI6MjA4OTMxODA3OX0.iNnEQBLOjG_NJCDTqwmcK1-LEIgYpBWsKtMBrrbm-xI
